/* defult */


@media (max-width: 479px) {

    .mobile-menu.mean-container {
        margin-top: -36px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .mean-container a.meanmenu-reveal {
        padding: 5px 6px;
    }

}


@media only screen and (min-width: 480px) and (max-width: 575px) {
    .container {width:450px}

    .mobile-menu.mean-container {
        margin-top: -44px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .mean-container a.meanmenu-reveal {
        padding: 5px 6px;
    }

} 


@media only screen and (min-width: 576px) and (max-width: 767px) {

    .mobile-menu.mean-container {
        margin-top: -44px;
        padding-right: 10px;
        padding-left: 10px;
    }
    
} 


@media (min-width: 768px) and (max-width: 991px) {

    .mobile-menu.mean-container {
        margin-top: -49px;
        padding-right: 10px;
        padding-left: 10px;
    }

}